node_modules
package-lock.json
.idea
npm-debug.log

# Remove all json files that are not package.json
!package.json
*.json
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Build folder should never be commited
build
tslint