node_modules
package-lock.json
.idea
npm-debug.log
.vscode/

# Remove all json files that are not package.json
*.json
!package.json
!babel.config.json
!reduxModel.json
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Build folder should never be commited
build
tslint
.DS_Store