.workspace-name{
    padding:13px;
}
.editable{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
}


.editable input{
    padding: 2px 5px;
    border: none;
    border-bottom: 1px solid black;
    background: #F2F1EE;
}

.action .saveBtn{
    font-size: 16px;
    color:#52c41a;
}
.action .saveBtn:hover{
    /* font-size: 18px; */
    color:#389e0d;
}
.action .cancelBtn{
    font-size: 16px;
    color:#ff4d4f;
}
.action .cancelBtn:hover{
    /* font-size: 18px; */
    color:#f5222d;
}

.action .disabled{
    pointer-events: none;
    cursor: default;
    color:grey;
}

.main-action{
    width: 100%;
    display: flex;
    justify-content: center;
}

.main-action .editBtn{
    margin-right: 1rem;
    font-size: 16px;
    color:#40a9ff;
}
.main-action .editBtn:hover{
    /* font-size: 18px; */
    color:#096dd9;
}

.main-action .deleteBtn{
    margin-left: 1rem;
    font-size: 16px;
    color:#fa8c16;
}
.main-action .deleteBtn:hover{
    /* font-size: 18px; */
    color:#fa541c;
}